body {
  font-family: Sans-Serif;
}

.round {
    border-radius: 50%;
}

a:hover {
    text-decoration: none;
}

.center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.tiny .card-image {
    max-height: 100px !important;
    overflow: hidden !important;
}

.banner {
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.left-shift {
    margin-left: 60px;
}
